
{% extends 'base2.html' %} <!-- jinja2 code to include python command in html-->
{% load static %}
{% block title%}
<title>Index Page</title>
{% endblock title %}

{% block content %}

<div class="container">


<div class='row mt-4'>

<img class="col-lg-3 img1 " src="{% static 'images/task-pic1.jpg' %}"  alt=pic1>
<img class="col-lg-3  img1" src="{% static 'images/task-pic2.jpg' %}" alt=pic2>
<img class="col-lg-3 img1 " src="{% static 'images/task-pic3.jpg' %}" alt=pic3>
</div>


<div class="mt-5">

<center>
<h2 class="text-primary"><i>Add your Task to get notified and remembered</i></h2>
<p class="text-dark"><i>Quick and Easy to do</i></p>


 {% if user.is_authenticated %}
 <a href="{% url 'input' %}"><button type="button"  name="button" class="btn btn-info shadow-sm btn-lg">Get More</button></a>
   {% else %}
   <div class="text-primary">Login to see more</div>
   {% endif %}
</center>
</div>


  {% endblock content %}
